<%- include('partials/html-head') %>
<%- include('partials/nav') %>

<main>
  <% if (user) { %>
    <h1><%= title %></h1>
    <h3>New Users</h3>
    
    <h3>New Reviews</h3>
    
    <h3>New Movies Added</h3>
    
    
  <% } %>
</main>

