<%- include('partials/html-head') %>
<%- include('partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% if (user) { %>

    <h3>Welcome back <%= user.profile.name %> </h3>
    
    
  <% } %>
</main>

